.DS_Store
tets/
docs/wiki/OSMtools.wiki/
.idea/
./LICENSE.md
./apikey.txt
*.pyc
test/
.spyproject/
dist/
# QGIS tests
tests/qgis
# tag files
.tags

docs/.vitepress/dist
docs/.vitepress/cache
/node_modules
