name: Ruff

on:
  pull_request:
  push:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: chartboost/ruff-action@v1
        with:
          src: ORStools
          version: "0.14.7"
          args: format --check
      - uses: chartboost/ruff-action@v1
        with:
          src: ORStools
          version: "0.14.7"
          args: check
